.basic-layout {
    height: 100vh;
    overflow: auto;
    user-select: none;

    .pro-layout {
        height: 100%;
    }

    & :global(.ant-pro-layout .ant-pro-layout-content) {
        padding-block: 20px;
    }
}
